extends layout

block title
  title #{error.status} - #{message}
  link(rel='stylesheet', href='/stylesheets/error.css')
  
block content
  main.main
    h1 #{error.status} - #{message}
    pre.main__error #{error.stack}
