extends layout

block title
  title #{family} Family
  link(rel='stylesheet', href='/stylesheets/family.css')

block content
  main
    +monsterCategories()
    h1 #{family} Family
    p This is the #{family.toUpperCase()} family of monsters. They are the soft boys!
    .resultsDiv
      each monster in docs
        .resultsDiv__result
          img.resultsDiv__icon(src="https://via.placeholder.com/50" alt=monster.name + " icon.")
          if monster.DWM2_Only
            a.resultsDiv__link(href="/") #{monster.name}*
          else
            a.resultsDiv__link(href="/") #{monster.name}